<%- include('./partials/header') %>
<title>Awesome Notepad</title>
</head>

<body>
    <h1><%= title %> </h1>
    <form action="/" method="GET">
        <button type="submit" class="navButton"> Cancel </button>
    </form>
    <div class="card-edit">
        <form action="edit-note" method="POST" class="form-control">
            <input type="text" name="title" autocomplete="off" value=<%= note.title %>>
            <textarea name="content" rows="5"><%= note.content %></textarea>

            <button type="submit" class="myButton"> Save </button>
            <input type="hidden" value="<%= note.id %>" name="noteId">
        </form>
    </div>
</body>
<%- include('./partials/footer') %>