<%- include('./partials/header') %>
<title>Awesome Notepad</title>
</head>

<body>
    <h1>Welcome to your new app for things like this</h1>
    <form action="/new-note" method="GET">
        <button type="submit" class="myButton">New Note</button>
    </form>
    <div class="card-wrapper">
        <% for (note of notes) { %>
            <div class="card-note">
                <h2> <%= note.title %> </h2>
                <div class="content-box"> <%= note.content %> </div>
                <form action="/edit-note <%=  %> " method="POST">
                    <button type="submit" class="myEditButton"> Edit </button>
                </form>
            </div>
        <% } %>
    </div>
</body>
<%- include('./partials/footer') %>